/* index start */
.wellcome{
  cursor: pointer;
}
.notice p{
  line-height: 120%;
}
.notice .desc+.desc{
  padding-top: 10px;
}
.main{
  height: 150vh;
}
.modal:focus{
  outline: 0;
}
.big-modal:focus{
  outline: 0;
}
.top{
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.menu{
  position:fixed;
  left:0;
  right:0;
  width: 100%;
  bottom: 0;
  padding: 20px 0 60px 0;
  border-radius: 16px 16px 0px 0px;
  z-index: 45;
  /* border: 1px solid rgba(26, 26, 26, 0.46); */
  background: rgba(246, 246, 246, 0.36);
  /* mix-blend-mode: luminosity; */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(67.95704650878906px);
}
.menu > div{
  gap: 20px;
  justify-content: space-between;
}
.click{
  padding: 10px;
}
.app{
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: grab;
}
.app img{
  object-fit: cover;
  /* width: 50px; */
  height: 50px;
  transition: 0.3s ease-in;
}
.app-name{
  font-size: 13px;
  opacity: 0.5;
  transition: 0.3s ease-in;
}
.app:hover .app-name{
  opacity: 0.8;
}
.app:hover img{
  transform: scale(108%);
}

#intro.unview{
  animation: up 0.3s ease-in infinite;
  position: relative;
}

#intro.unview:after{
  position: absolute;
  content:'1';
  font-size: 13px;
  display: block;
  color: var(--MC-white);
  line-height: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  top:0;
  right:0;
  transform: translate(50%,-50%);
  border-radius: 8px;
  background-color: #FF3B30;
}
@keyframes up {
  0%{transform: translateY(0);}
  50%{transform: translateY(3%);}
  100%{transform: translateY(0%);}
}

.notice.memo{
  width: auto;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}
.notice.memo p:first-child{
  padding-bottom: 5px;
}
.notice.memo p{
  font-size: 13px;
  line-height: 16px;
}
.img-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal .exampleImg{
  width: 140px;
  height:140px;
  object-fit: cover;
  padding-bottom: 0px;
}

.modal h5{
  padding: 24px 0;
}

/* main-board */

.main-board{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* index.meonji */

.notice.meonji{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
}
.img-container-meonji {
  width: 97%;
  height: 97%;
}
.meonji img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slidewrapper {    
  position: relative;
}

/* background notice */

.background.notice .desc{
  margin-bottom: 15px;
}
.background.notice input{
  display: none;
}
.background.notice label{
  margin-right: 10px;
}

.background-container{
  position: absolute;
  left: 0;
	right: 0;
	top: 0;
  height: 150vh;
  z-index: -1;
}

label{
  cursor: pointer;
}

.line{
  height: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

/* index.html */

/* contact start */

#modal9{
  width: 385px;
  height: 770px;
  border-radius: 60px;
  background-color: transparent;
  box-shadow: none;
  backdrop-filter: none;
  z-index: 40;
}

#modal9 *{
  font-size: 11px;
}
.modal-content.contact{
  padding:0;
  height: 100%;
}
.frame{
  display: flex;
  background-image: url('../public/img/iphone-vesel.png');
  /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25), 0px 36px 100px 0px rgba(0, 0, 0, 0.40), 0px 0px 3px 0px rgba(255, 255, 255, 0.10) inset;
  backdrop-filter: blur(65px);
  border-radius: 50px; */
  width: 385px;
  height: 770px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
}
.display{
  position: absolute;
  top:20px;
  left:24px;
  width: 338px;
  height: 728px;
  vertical-align: bottom;
  border-radius: 37px;
}
.messages{
  position: absolute;
  top: 200px;
  left: 50px;
  width: 73%;
}
.contact-message{
  display: flex;
  gap: 16px;
  flex-direction: column;
  color: var(--MC-white);
  z-index: 5;
  margin-bottom: 24px;
}
.contact-message.left p, .contact-message.left a{
  align-self: start;
  background-color: #404040;
  width: auto;
  padding: 8px 16px;
  border-radius: 10px;
  color: var(--MC-white);
  transition: background-color 0.3s ease-in;
}
.contact-message.left p:hover,.contact-message.left a:hover{
  background-color: #303030;
}
.contact-message.right p{
  align-self: end;
  color: var(--MC-white);
  background-color: var(--PC-blue);
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  align-items: flex-end;
  transition: background-color 0.3s ease-in;
}
.contact-message.right p:hover{
  background-color: #2D51D0;
}
.contact-message .closeModal{
  position: relative;
  top:0;
  left:0;
  width: auto;
  height: auto;
  cursor: pointer;
}


/* portfolio */

.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .notice{
  margin-bottom: calc(var(--base-unit)*3);
  align-self: start;
}
.imac{
  display: flex;
  justify-content: center;
  position: relative;
}
.imac-display{
  width: calc(1099px*0.8);
  height: calc(954px*0.8);
}
.tooltip{
  opacity: 0;
  left:50%;
  position:absolute;
  bottom:-50px;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in;
}

.imac:hover .tooltip{
  opacity: 1;
}

.imac button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  position: absolute;
  z-index: 10;
  top:40%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, .3);
  background-color: transparent;
  cursor: pointer;
  transition: border 0.3s ease-in;
}
.imac button:hover{
  border: 1px solid rgba(0, 0, 0, .6);
}
.imac button > svg{
  font-size: 20px;
}
.imac button > svg *{
  fill: rgba(0, 0, 0, .3);
}
.imac button:hover svg *{
  fill: rgba(0, 0, 0, .6);
}
.imac button.prev{
  left: -50px;
  transform: translateX(-100%);
}
.imac button.next{
  right: -50px;
  transform: translateX(100%);
}

/* portfolio information */

.information{
  display: flex;
  width: 872px;
  margin-top: calc(var(--base-unit)*4);
  margin-bottom: calc(var(--base-unit)*8);
}
.information .link{
  text-decoration: underline;
  transition: color 0.6s ease-in;
}
.information .link:hover{
  color:var(--PC-blue);
}
.information ul li{
  display: flex;
  align-items: start;
  gap:24px;
}
.information ul > li > p+*{
  width: 80%;
}
.information ul li+li{
  padding-top: 24px;
}
.information ul li p, .information ul li a{
  color: rgba(0, 0, 0, .6);
}
.information ul > li > p:first-child{
  width: 88px;
}
.information .tags{
  align-items: flex-start;
  gap: 10px;
}
.information .links{
  gap: 20px;
  position: relative;
}
.information .links .tooltip{
  bottom: 0;
  transform:translateY(150%);
}
.information .links:hover .tooltip{
  opacity: 1;
}
.information .links .tooltip a{
  color: var(--MC-white) !important;
}
.reivew-content{
  width: 90%;
}
.reivew-content div{
  word-spacing: wrap;
  width: 100%;
}
.reivew-content div+div{
  padding-top: 24px;
}
.reivew-content div p:first-child{
  padding-bottom: 24px;
}
.reivew-content div p:last-child{
  line-height: 140%;
}

/* modal-off */

.modal-off{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  display: none;
}

/* responsive */

@media screen and (max-width: 1320px){ /* pc */

  .menu > div {
    gap: 15px;
    justify-content: space-between;
  }
  .app img{
    object-fit: cover;
    /* width: 50px; */
    height: 40px;
    transition: 0.3s ease-in;
  }
  .app-name{
    font-size: 11px;
    opacity: 0.5;
    transition: 0.3s ease-in;
  }
  .imac-display {
    width: 621px;
    height: 540px;
  }
  .imac button {
    width: 35px;
    height: 35px;
    top:105%;
  }
  .imac button.prev {
    left: -20px;
    transform: translateX(-100%);
  }
  .imac button.next {
    right: -20px;
    transform: translateX(100%);
  }
  .imac button > svg {
    font-size: 14px;
  }
  .information {
    display: flex;
    width: 574px;
    margin-top: calc(var(--base-unit)*3);
    margin-bottom: calc(var(--base-unit)*7);
  }
  .reivew-content {
    width: 80%;
  }


}

@media screen and (max-width: 820px){ /* tablet */

  .menu > div {
    gap: 10px;
    justify-content: space-between;
  }
  .app img{
    object-fit: cover;
    /* width: 50px; */
    height: 30px;
    transition: 0.3s ease-in;
  }
  .app-name{
    font-size: 11px;
    opacity: 0.5;
    transition: 0.3s ease-in;
  }
  .imac-display {
    width: calc(621px * 0.8);
    height: calc(540px * 0.8);
  }
  .information {
    display: flex;
    width: calc(574px* 0.8);
    margin-top: calc(var(--base-unit)*3);
    margin-bottom:  calc(var(--base-unit)*7);
  }
  .information p,.information a{
    font-size: 13px;
  }
  .information ul > li > p:first-child {
    width: 60px;
  }
  .main-board{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }
}

@media screen and (max-width: 480px){ /* phone */
  .frame{
    background-image: none;
  }
  .menu{
    position:fixed;
    left:0;
    right:0;
    width: 100%;
    bottom: 0;
    padding: 20px 10px 60px;
    border-radius: 16px 16px 0px 0px;
    z-index: 45;
    background: rgba(246, 246, 246, 0.36);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(67.95704650878906px);
  }
  .menu > div{
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
  }
  .imac-display {
    width: 340px;
    height: 295px;
  }
  .tooltip{
    display: none;
  }
  .information {
    display: flex;
    width: 340px;
    margin-top: calc(var(--base-unit)*3);
    margin-bottom:  calc(var(--base-unit)*6);
  }
  .information ul li+li{
    padding-top: 16px;
  }
  .information p,.information a{
    font-size: 11px;
  }
  .information ul li{
    align-items: start;
    gap:16px;
  }
  .information ul > li > p:first-child {
    width: 50px;
  }
  .information .tags{
    flex-wrap: wrap;
  }
  .imac button {
    width: 25px;
    height: 25px;
  }
  .imac button.prev {
    left: 0px;
    transform: translateX(100%);
  }
  .imac button.next {
    right: 0px;
    transform: translateX(-100%);
  }
  .imac button > svg {
    font-size: 10px;
  }

}